body{
	background-color: #F8F8FF
	color: #555753;
	font: georgia, sans-serif;
}

.menu{
	color: white;
	display: block;
	float: left;
	font-size:300%;
	padding:1%;
	text-align: center;
	text-decoration: none;
}

.menu-search{
	align: right;
	color: silver;
	display: block;
	font-size:200%;
	font: italic normal georgia, sans-serif;
	text-align: center;
	text-decoration: none;

}

.site_logo{
	display: block;
	float: right;
}

.contact_logo{
	padding: 4%;
}


.img-circle {
	border-radius: 50%;
	float: "left";
	height = 7%;
	width = 50%;
}

ul {
	background-color: #333;
	list-style-type: none;
	overflow: hidden;
}

p{
	font-size:190%;
	margin-left:7%;
	margin-right:5%;
	text-indent: 7%;
}

a:link {
	color: #B7A5DF;
	font-weight: bold;
}

a:visited {
	color: #D4CDDC;
	font-weight: bold;
}

a:hover, a:focus, a:active {
	color: #9685BA;
	text-decoration: blink;
}

abbr {
	border-bottom: none;
}

h1 {
	align: "center";
	font-size: 350%;
	font-style: italic;
}

h3 {
	color: #7D775C;
	font-size: 250%;
	font: italic normal georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
}

footer {
	align: "center";	
	font-size: 120%;
	font-style: italic;
	text-align: center;
	text-color: #c5ccd3;
}

footer a:link, footer a:visited {
	margin-right: 20px;
}
