ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    background-color: #333;
}

body{
        background-color: #F8F8FF

}

li {
                   float: left; 
                   padding:10px; 

}

li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding:10px; 
                    text-decoration: none;
                    font-size:190%;

}

li a:hover {
                    background-color: #111;
                    font-size:190%;

 }

h1 {
                  font-size: 350%;
                  font-style: italic;;
 }

p{
                  text-indent: 5%;
                  margin-left:7%;
                  margin-right:5%;
                  font-size:190%;
 }

.img-circle {
    border-radius: 50%;
    height = 50%;
    width = 50%;
    float: "left";
}
