body{
             background-color: #F8F8FF
	           font: 175% georgia, sans-serif;
	           line-height: 1.88889;
	           color: #555753;
	}

.menu{
                    float: left;
                    padding:5%;
                    display: block;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    font-size:190%;
		    width = 25%;
}
.site_logo{
		    float: right;
                    display: block;
		    width = 25%;
}
.contact_logo{
        padding: 4%;
}


.img-circle {
    border-radius: 50%;
    height = 7%;
    width = 50%;
    float: "left";
}
ul {
                    list-style-type: none;
                    overflow: hidden;
                    background-color: #333;
}


p{
                  text-indent: 7%;
                  margin-left:7%;
                  margin-right:5%;
                  font-size:190%;
 }

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #B7A5DF;
	}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #D4CDDC;
	}

a:hover, a:focus, a:active {
	text-decoration: blink;
	color: #9685BA;
	}

abbr {
	border-bottom: none;
	}

h1 {
                    font-size: 350%;
                    font-style: italic;
		    align: "center";
   }

h3 {
  	font: italic normal 1.4em georgia, sans-serif;
  	letter-spacing: 1px;
  	margin-bottom: 0;
  	color: #7D775C;
  	}

footer {
	text-align: center;
	}
footer a:link, footer a:visited {
	margin-right: 20px;
	}
