body{
    background-color: mintcream;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 24px;
    letter-spacing: 5px;
    position: fixed;
    background-color: rgba(23, 23, 23, 0.83);
}

.nav.navbar-nav.navbar-right li a {
    color: #ffedfb;
}

footer, h1 {
    align: "center";
}

.site_logo {
    float: right;
}

.contact_logo {
    padding: 4%;
}

.img-center {
    height: 45%;
    margin: 14%;
}

.img-circle {
    border-radius: 50%;
    float: "left";
    height: 7%;
    width: 50%;
}

.tab {
    margin-left: 40px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

p {
    font-size: 190%;
    margin-left: 7%;
    margin-right: 5%;
    text-indent: 7%;
}

abbr {
    border-bottom: none;
}

h1 {
    font-size: 350%;
    font-style: italic;
        padding-top: 7%;

}

h3 {
    color: #7D775C;
    font-size: 250%;
    font: italic 400 georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
}

footer {
    font-size: 120%;
    font-style: italic;
    text-color: #c5ccd3;
}

footer a:link, footer a:visited {
    margin-right: 20px;
}
