.menu, .menu-search {
    display: block;
    text-align: center;
    text-decoration: none;
}
.img-center, .menu, .menu-search, .site_logo {
    display: block;
}
.menu, .menu-search, footer {
    text-align: center;
}

body {
    background-color: #F8F8FF;
    color: #555753;
    font: georgia, sans-serif;
}

.menu {
    color: #fff;
    float: left;
    font-size: 300%;
    padding: 1%;
}

.menu-search {
    align: right;
    color: silver;
    font: italic 400 georgia, sans-serif;
}

footer, h1 {
    align: "center";
}

.site_logo {
    float: right;
}

.contact_logo {
    padding: 4%;
}

.img-center {
    height: 45%;
    margin: 14%;
}

.img-circle {
    border-radius: 50%;
    float: "left";
    height: 7%;
    width: 50%;
}

.tab {
    margin-left: 40px;
}

ul {
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
}

p {
    font-size: 190%;
    margin-left: 7%;
    margin-right: 5%;
    text-indent: 7%;
}

a:link {
    color: #B7A5DF;
    font-weight: 700;
}

a:visited {
    color: #D4CDDC;
    font-weight: 700;
}

a:active, a:focus, a:hover {
    color: #9685BA;
    text-decoration: blink;
}

abbr {
    border-bottom: none;
}

h1 {
    font-size: 350%;
    font-style: italic;
}

h3 {
    color: #7D775C;
    font-size: 250%;
    font: italic 400 georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
}

footer {
    font-size: 120%;
    font-style: italic;
    text-color: #c5ccd3;
}

footer a:link, footer a:visited {
    margin-right: 20px;
}
